# ======================
# Miscellaneous
# ======================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# ======================
# IDE / Editor related
# ======================

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (uncomment if you want to ignore workspace settings)
.vscode/

# ======================
# Flutter / Dart / Pub
# ======================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# FVM Version Cache
.fvm/

# ======================
# Android
# ======================
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json
